body {
  background-color: #f7f4ef;
  
  color: #5f5f5f;
  
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  'Hiragino Maru Gothic ProN',
  'メイリオ',
  sans-serif;
}

/*#f7f4ef 背景 　#8faa96 緑 アクセントカラー　#5f5f5f 文字*/
