/*#f7f4ef 背景 　#8faa96 緑 アクセントカラー　#5f5f5f 文字*/

body {
  background-color: #f7f4ef;
  color: #5f5f5f;
  
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  'Hiragino Maru Gothic ProN',
  'メイリオ',
  sans-serif;

  padding:32px 24px;
}

h1{
  font-size: 28px;
  font-weight: 500;

  margin-bottom: 40px;

  color: #8faa96;
}

.menu a{
  line-height: 1.5;
  display: block;
  color: #5f5f5f;
  text-decoration: none;
  padding: 20px 4px;
  border-bottom: 1px solid #ddd8cf;
  transition:0.3s;
}

.menu a:hover{
  color: #8faa96;
  padding-left: 12px;
}

.question-container{
  max-width: 500px;
}

.question{
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.choice{
  display:flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

button{
  background: transparent;
  border: 1px solid #ddd8cf;
  border-radius: 999px;
  font-size: 16px;
  padding: 16px;
  color: #5f5f5f;
  transition: 0.3s;
  cursor: pointer;
}

button:hover{
  border-color:#8faa96;
  color: #8faa96;
  background: rgba(143,170,150,0.08); /*#8faa96を8%薄くしてる　#8faa9614でも代用可能*/
}

button:active{
  transform: scale(0.98);
}

.back-link{
  display: inline-block;
  color:#8faa96;
  text-decoration: none;
  margin-top: 16px;
}
